/* Customization of the quiz boxes */

body {
    font-family: cursive;
    display: flexbox;
    text-align: center;
    background-color: lightcyan;
    text-shadow: 40px black; 
    justify-content: center;
    font-weight: bolder;
    color: navajowhite;

    

  }
  .option {
    border: 10px solid skyblue;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-content: center; 
  }
   .option:hover {
    background-color: magenta;
  }
  .selected {
    background-color: magenta;

  }

  .questions {
    justify-content: center;
  }

h1 {
    font-family: cursive;
    display: flex;
    color: navajowhite;
    border: bold 4px black;
    padding-inline: 220px;
    text-align: center;

}